{{#each ingredients	}}
<form class="ingredient-row" method="POST">
	<div class="row">
		<div class='col-md-2'>
			<button class="btn btn-alert" type="button">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
		</div>

		<div class='quantity col-md-2'>{{quantity}}</div>
		<div class='price col-md-2'>{{currency price}}</div>
		<div class='name col-md-3'>{{name}}</div>

		<div class='col-md-2'><button value="{{name}}" class="oos-button btn btn-alert">Mark Out of Stock</button></div>
		<div class='col-md-1'><button value="{{name}}" class="delete-button btn btn-danger">Delete</button></div>
	</div>

	<!--
	<div class="collapse row" id="edit{{name}}">
		<div class='col-md-2 col-md-offset-2'>{{quantity}}</div>
		<div class='col-md-4'>{{currency price}}</div>
		<div class='col-md-6'>{{name}}</div>
	</div>
	-->
</form>
{{/each}}